<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>添加用户</title>
</head>
<body>
	<form th:action="@{/users/save}" method="post">
		<!--<h5 color="red" th:errors="${users.name}"></h5>-->
		<!--用户姓名：<input type="text" name="username"/><br/>
		用户密码：<input type="password" name="password" /><br/>
		用户权限：<input type="text" name="privilege" /><br/>
		用户邮箱：<input type="text" name="email" /></h5><br/>-->
		姓名：<input type="text" name ="username"/><br/>
		密码：<input type="password" name ="password"/><br/>
		邮箱：<input type="text" name ="email"/><br/>
		权限：<input type="text" name ="privilege"/><br/>
		<input type="submit" value="OK"/>
	</form>
</body>
</html>